/* Flexbox Part 1 */

#flex-section1 ul {

	display: flex; 
    justify-content: space-between;
    padding: 0; 
	list-style-type: none; 
	margin: 40px; 

}

/* end Flexbox Part 1 */





/* Flexbox Part 2 */

#flex-section2 ul {

	display: flex; 
    flex-wrap: wrap; 
    padding: 0; 
    list-style: none; 

}

#flex-section2 li {

	flex: 1; 
    padding: 10px; 
    box-sizing: border-box; 

}

#flex-section2 .item1 {

	order: 1; 

}

#flex-section2 .item2 {

	order: 3; 

}

#flex-section2 .item3 {

	order: 2; 

}

/* end Flexbox Part 2 */





/* Flexbox Part 3 */

#flex-section3 .box {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    flex-direction: column; 
}

#flex-section3 .card {
    text-align: center; 
    margin-bottom: 20px; 
}

#flex-section3 .tags {
    display: flex; 
    justify-content: center; 
}

#flex-section3 .tags ul {
    padding: 0; 
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}

#flex-section3 .tags ul li {
    list-style: none; 
    margin: 0 5px; 
    background-color: #f0f0f0;
    padding: 5px 10px; 
    border-radius: 5px; 
}
/* end Flexbox Part 3 */






/* Grid Part 1 */


#grid-section1 .grid {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
}

#grid-section1 .greybox {
    background-color: #ccc;
    padding: 10px; 
    text-align: center; 
    height: 100px; 
    border-radius: 5px; 
}


/* end Grid Part 1 */










/* Grid Part 2 */

#grid-section2 .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    gap: 10px; 
}

#grid-section2 .gridboxblue {
    grid-column: span 2; 
    grid-row: span 3; 
    background-color: rgba(66, 66, 198, 0.752); 
	z-index: 1; 
}

#grid-section2 .gridboxred {
    grid-column: 1 / 2; 
    grid-row: 2 / 3; 
    background-1color: red; 
	width: calc(100% + 240px); 


}



/* end Grid Part 2 */






/* Grid Part 3 */

#grid-section3 .grid {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: 100px 300px 100px; 
    gap: 10px; 
}

#grid-section3 .box1 {
    grid-column: 1 / span 2; 
}

#grid-section3 .box2 {
    grid-column: 2; 
    grid-row: 2; 
}

#grid-section3 .box3 {
    grid-column: 1; 
    grid-row: 2; 
}

#grid-section3 .box4 {
    grid-column: 1 / span 2; 
}


/* end Grid Part 3 */









/* Transition Part */
#transition-section .box a {
    display: inline-block;
    background-color: #ccc;
    color: #000;
    padding: 20px;
    text-decoration: none;
    transition-property: background-color, color; 
    transition-duration: 0.5s; 
}

#transition-section .box a:hover {
    background-color: #cc0000;
    color: #fff;
    transition-duration: 3s; 
}

/* end Transition Part */



